<launch>

  <node pkg="tf" type="static_transform_publisher" name="bla" args="0.0 0.0 0.0 0.0 0.0 0.0  /base_link /camera  50"> 
  </node>

	<node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
        <param name="left_image" type="str" value="/rs2_ros/left/image_rect_raw" />
        <param name="right_image" type="str" value="/rs2_ros/right/image_rect_raw" />

        <param name="left_camerainfo" type="str" value="/rs2_ros/left/camera_info" />
        <param name="right_camerainfo" type="str" value="/rs2_ros/right/camera_info" />

        <param name="ref_frame_change_method" value="1" />
        <param name="ref_frame_motion_threshold" value="8.0" />
        <param name="ref_frame_inlier_threshold" value="20" />
        

        <param name="approximate_sync" type="bool" value="false" />
        <param name="queue_size" type="int" value="3" />
        <param name="refinement" type="int" value="1" />
        <param name="remove_outliers" value="false" />
        <param name="numFastFeature_dense" type="int" value="1000" />
        <param name="fast_threshold_dense" type="int" value="15" />    

        <param name="image_pre_scaling" value="0.5" />
        <param name="image_pre_contrast" value="1.6" />   
        <param name="image_pre_brightness" value="60.0" />   
        
	</node>



</launch>
